@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60, 100%, 98%;
    --background-dark: 60, 47%, 93%;
    --foreground: 0, 0%, 97%;
    --primary: 175, 100%, 36%;
    --secondary: 175, 58%, 81%;
    --muted: 0, 0%, 91%;
    --muted-foreground: 0, 0%, 58%;
    --card-background: 0, 0%, 97%;
    --card-foreground: 222.2 84% 4.9%;
    --text-primary: 0, 0%, 0%;
    --text-secondary: 0, 0%, 100%;
    --transit: 45.2, 81.7%, 44.9%;
  }

  /* Have not been configured */
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

