@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --background: 60, 100%, 98%;
  --background-dark: 60, 47%, 93%;
  --foreground: 0, 0%, 97%;
  --primary: 175, 100%, 36%;
  --secondary: 152.31, 56.52%, 90.98%;
  /* --secondary: 175, 58%, 81%; */
  --muted: 0, 0%, 89%;
  --muted-foreground: 0, 0%, 58%;
  --card-background: 0, 0%, 97%;
  --card-foreground: 222.2 84% 4.9%;
  --text-primary: 0, 0%, 0%;
  --text-secondary: 0, 0%, 100%;
  --transit: 45.2, 81.7%, 44.9%;
  --error: 348, 83.33%, 47.06%;
}

